<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>文章内容</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'editor.md-master/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'editor.md-master/css/editormd.css' %}">
    <link rel="stylesheet" href="{% static 'css/label.css' %}">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
</head>
<body style="color:#9c9c9c;background-color:#1c232f;">
<div id="layout">
    <header>
        <h1>新建文章</h1>
    </header>
    <div class="form-group" style="margin-left:4%">
        <div class="col-sm-4">
            <input type="text" class="form-control" style="background-color:#1c232f;" name="source" placeholder="文章标题"/>
        </div>
    </div>
    <div class="form-group" style="    margin-left: 4%;margin-top: 3%;margin-bottom: 0%;">
        <div class="col-sm-2" style="float:none">
            <select name="cate_id" class="form-control" style="color:#9c9c9c;background-color:#1c232f;">
                <option value="">--请选择分类--</option>
                <option value="1">测试分类</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div id="test-editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="box"  style="color:white;background-color:#1c232f;">
            <div class="tagsinput-primary form-group" style="color:white;background-color:#1c232f;">
                <input name="tagsinput" id="tagsinputval" class="tagsinput" data-role="tagsinput" value="faltui,这是一个标签"
                       placeholder="输入后回车"/>
                <!--   <button class="btn" onClick="getinput()">获取输入的值</button>-->
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
            <input type="submit" value="发布博客" class="button button-pill button-primary">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button  class="button button-glow button-border button-rounded info">保存草稿</button>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'editor.md-master/editormd.min.js' %}"></script>
<script src="{% static 'js/tagsinput.js' %}"></script>
<script type="text/javascript">
			var testEditor;
            $(function() {
                testEditor = editormd("test-editormd", {
                    theme : "dark",
                    previewTheme : "dark",
                    editorTheme : "pastel-on-dark",
                    width   : "90%",
                    height  : 640,
                    placeholder: '请写下您的点滴记录...',
                    syncScrolling : "single",
                    path    : "{% static 'editor.md-master/lib/' %}"
                });
            });
function getinput(){
	console.log($('#tagsinputval').val());
}


</script>
</body>
{%block css%}
{%endblock css%}
</html>