/**   文章列表图相关样式   **/

.article_list_img {
	width: 28%;
	height: 170px;
	position: relative;
	float: left;
}

.article_list_img>img {
	width: 100%;
	height: 100%;
	display: block;
}


/**   文章列表图相关样式   **/


/****   文章详情相关信息   **/

.article_list_relative_info {
	width: 62%;
	margin-left: 3%;
	height: 170px;
	float: left;
}

.article_title {
	position: relative;
	top: 0;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
	height: 30px;
	display: block;
	color: #000000;
}

.article_title>a {
	font-weight: bold;
	margin-top: 1%;
	float: left;
	;
}

.article_title>h2 {
	font-weight: bold;
	margin-top: 2.5%;
	margin-left: 6%;
	float: left;
	color: #333;
	font-size: 21px;
	display: inline;
}

.article_title>h2>a {
	color: #333;
}

.label {
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 4px 6px 3px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	background-color: #00a2ff;
	margin-right: 5px;
	position: relative;
	top: 2px;
	border-radius: 0;
}

.label-arrow {
	position: absolute;
	width: 0;
	height: 0;
	vertical-align: top;
	content: "";
	top: 6px;
	right: -4px;
	border-left: 4px solid #00a2ff;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.article_abstract {
	height: 124px;
	line-height: 24px;
}


/******    文章元數據信息   *****/

.article_num_info {
	width: 62%;
	margin-left: 0%;
	height: 30px;
	margin-top: 3%;
	float: left;	
	width:100%;
	
}
.article_num_info>span>a{
	color: #333;
}
.pull-left {
	float: left!important;
	font-size: 12px;
	;
}

.pull-right {
	font-size: 12px;
	float: right!important;
	margin-right: 3%;
}


/***   去掉a标签的下划线  ***/

a {
	text-decoration: none;
}


/****   文章详情相关信息   结束 **/

.text {
	font-size: 14px;
}

.item {
	margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both
}

.box-card {
	margin-top: 25px;
	line-height: 5px;
	text-align: left;
}

.box-card .el-card__body {
	width: 100%;
	height: 200px;
}