.type_list {
	text-align: center;
	line-height: 294%;
}

.type_font {
	color: grey;
	font-size: 22px;
	cursor: pointer
}

#label_list {
	cursor: pointer;
}
.el-aside{
	width:200px;
}

#search_in_site>.el-card__body{
  height: 18px;
}
li {
    border-bottom: 2px solid #409EFF;
    color: #303133;
}
