.type_list {
	text-align: center;
	line-height: 294%;
}

.type_font {
	color: grey;
	font-size: 22px;
	cursor: pointer
}

#label_list {
	cursor: pointer;
}
.el-aside{
	width:200px;
}

#input_search_in_site{
  margin-left: -17%;
      width: 113%;
}

#search_in_site>.el-card__body{
  height: 18px;
}
.el-input__icon_el-icon-search{
  margin-left: -80%;
}
.tag_clouds a {
    display: inline-block;
    margin: 0 2px 4px 0;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    color: #666;
    text-transform: uppercase;
    line-height: 19px;
    font-size: 13px!important;
}
#label_all_in_site .el-card__body{
   width: 84%;
   height:100%;
}

#article_zips .el-card__body{
  padding: 0px;
  height:80%;
}

.el-picker-panel-calendar__body div:nth-child(2){
  height: 310px;
}

tr:nth-child(n+2){
  line-height: 3px;
}
