.type_list {
	text-align: center;
	line-height: 294%;
}

.type_font {
	color: grey;
	font-size: 22px;
	cursor: pointer
}

#label_list {
	cursor: pointer;
}
.el-aside{
	width:200px;
}

#search_in_site>.el-card__body{
  height: 18px;
}

.tag_clouds a {
    display: inline-block;
    margin: 0 2px 4px 0;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    color: #666;
    text-transform: uppercase;
    line-height: 19px;
    font-size: 13px!important;
}
#label_all_in_site>.el-card__body{
  
}